language: java

addons:
  sonarcloud:
    organization: "zbrainiac"
    token:
      secure: "dPFtnofy8HZUgPO/CuhsfQPcBLq2eVf8GJ8Sgfd1Mj0Ro1zwJ1LbYNVrMcJEUvxwd4UTWZqBt8uAxqdMXRQRM7uO/P/jtJikchHqdb2puHA8rdrrNmbhapnFcZXjEJ4A3Zy8wupcLuUj7omrbxBvkr7mieCURzF2NtUyLUn4PYC9IkEAPpa9cHGFhkzbf/d4Y1kvDK9a/Z1ywSys78UodZlEwlbnBI6mLQI5WCcj8REoEL9wkfMynQOpZO02+HSlueil9Ho4KBiH+yFsiHTYwDx6GKcJuUsr1kmB6LHiMogCoBkrp3iOXGYAnafwOHQXc8wkQmIqOyiclw1xVjAffFlQNJxc7UL22X3TAM4BBUAp2X/Fj2LlTsPqcMmiqIy97RXsltDOAzxzIOpTET5GxIo98fNpQOJimAQDvP7zjarZ5/QIfVGlArjCuJ7uGKBqxnW7asITMY0Cop34xmXQR3k/LZHZZUt7QEEPy5kUhlIGKACNX510Pqheb17CiMelJOqJqkf2rEAzU8fPpEzP3zR2XBYbL8UFOWS2oJ5m/b9B+zGnjxSMOgirmiOF9IWwCeuHFEKYZKNKEJALCRAsyz/5mX07bCUAs3p2tSajt3oG8P7IDA/jLxztS2kQOPxoPq0Vy6rEOy/DR1GSFXqvETFKBZWT0CsQJuIUJedWIZA="
git:
  depth: false

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar